@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}



body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(-180deg, #0a0a35, #0004ff, #00a0fd, #31cf80, #95e90e, #fcec07, #ff8800, #f05913);
  font-family: Quicksand;
  cursor: none;
}



.custom__cursor__inner {
  height: 12px;
  width: 12px;
  position: fixed;
  top: -10px;
  left: -10px;
  background-color: #f8fc07;
  border-radius: 50%;
  z-index: 5000;
  pointer-events: none;
}


.custom__cursor__outer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  border: 2px solid #ffffffd7;
  background-color: transparent;
  position: fixed;
  z-index: 5000;
  pointer-events: none;
  opacity: 0.9;
}


::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-track {
  background-color: rgb(43, 37, 37);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient( 60deg, #00aeff, #a68eff, rgb(100, 1, 139));
  border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 2px;
}


li {
  list-style: none;
  margin: none;
}

a {
  text-decoration: none;
  cursor: none;
}


.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  width: 100%;

  overflow: hidden;
  background-color: rgb(43, 37, 37);
  z-index: 1;
}


.hamburger {
  display: none;
  padding: 1em;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2eb4a9;
}

.hamburger:hover>.bar {
  background-color: white;
  opacity: 0.8
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

}



.nav-item {
  margin: 0 2.5rem 0 2.5rem;
  padding: 18px;
}

.nav-item a {
  font-size: 18px;
}

.nav-link {
  font-size: 1rem;
  padding: 18px;
  color: #ffffff;
}

.nav-link:hover {
  color: #070707;
  width: 10rem;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

.nav-logo {
  font-size: 2rem;
  color: #ffffff;
}

.home {
  float: left;
  background-color: rgb(0, 0, 0, 0);
  border: none;
  color: #2eb4a9;
  font-size: 18px;
  cursor:none;
}

.fa {

  padding: 20px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 1;
  cursor: none;
  color: white;
}


@media only screen and (max-width: 920px) {
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 60px;
    flex-direction: column;
    background-color: rgb(43, 37, 37);
    width: 10rem;
    margin-right: 0em auto;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .nav-menu.active {
    right: 0;
    top: 60px;
  }

  .nav-item {
    margin-left: none;
    padding: 1.1em;
  }

  .hamburger {
    display: block;
  }



  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}














.info {
  padding-top: 130px;
  padding-bottom: 500px;
}

.info-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
}

.info-text {
  position: relative;
  display: flex;
  text-decoration: none;
  list-style-type: none;
}

.info-text li {
  padding: 1em 5em 1em 6em;
  font-size: 1vw;
  color: white;
  text-align: center;
}

.info-text h1 {
  padding-bottom: 1em;
  text-align: center;
}

u {
  text-decoration: #9069d8cc solid underline;
  text-underline-position: under;
}


.profile-pic {
  min-width: 25%;
  display: flex;
  Opacity: 97%;
  margin: auto;
  border-radius: 4%;
}

a {
  text-decoration: none;
}



@media only screen and (max-width: 1200px) {
  .info-text li {
    padding: 0em 0em 0em 4em;
    font-size: 1.5vw;
    color: white;
    text-align: center;
  }

  .profile-pic {
    min-width: 35%;
  }
}


@media only screen and (max-width: 768px) {

  .profile-pic {
    margin: 0 auto;
    width: 60%;
    size: 0.5vw;
    Opacity: 90%;
  }

  .info-text {
    display: block;
    width: -4em;
  }

  .info-text li {
    padding-top: 5em;
    text-align: center;
    padding: 0;
    font-size: 14px;
  }

  .info-text {
    padding-top: 20px;
  }
}



.download {
  position: absolute;
  margin-top: 20em;
  top: calc(50% - 30px);
  right: calc(50% - 115px);
  width: 230px;
  height: 60px;
  background: #2eb4a9;
  background-image: -webkit-linear-gradient(bottom, rgba(71, 36, 36, 0.075), rgba(255, 255, 255, .045));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .075), rgba(255, 255, 255, .045));
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .09), inset 0 1px 0 rgba(255, 255, 255, .04), 0 0 1px rgba(0, 0, 0, .3), 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 100px;
  color: rgba(253, 251, 251, 0.9);
  line-height: 60px;
  text-align: center;
  letter-spacing: 5px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.67, .13, .1, .81), transform .15s cubic-bezier(.67, .13, .1, .81);
}

.download:hover {

  right: calc(50% - 200px);
  width: 400px;
}

.download:active {
  transform: translateY(3px);
}

.download:before,
.download:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all .3s cubic-bezier(.67, .13, .1, .81);
}

.download:before {
  content: 'DOWNLOAD';
  font-weight: 700;
}

.download:after {
  content: 'CLICK TO DOWNLOAD MY CV';
  top: -60px;
  opacity: 0;
  font-weight: 700;
}

.download:hover:after {
  top: 0px;
  opacity: 1;
}

.download:hover:before {
  top: 60px;
  opacity: 0;
}

@media only screen and (max-width: 768px) {
  .download {
    margin-top: 25em;
  }
}









#about {
  padding-top: 130px;
  padding-bottom: 500px;
}

.about-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
}

.about-text {
  color: white;
  font-size: 17px;
  text-align: center;
}


.about-text h1 {
  margin-top: 2em;
  text-align: center;
  padding-bottom: 1em;
}


.information-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
}

.aboutme {
  background: #2a2b2a;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50em;
  margin: 0 auto;
}

.aboutme-text {
  text-align: center;
  font-size: 14px;
  padding-top: 0.4em;
}


@media only screen and (max-width: 1100px) {
  .information-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 6rem 1rem 6rem;
  }

  .information-box {
    padding: 1rem;
  }
}


@media only screen and (max-width: 600px) {
  .information-container {
    grid-template-columns: repeat(1, 1fr);
  }
}












#skills {
  padding-top: 100px;
  padding-bottom: 500px;
}

.skills-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
}

.header h1 {
  text-align: center;
  color: white;
  padding: 1rem;
  font-size: 35px;
  position: relative;
}


.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
  font-size: 18px;
}

.skill-box {
  padding: 1rem;
  color: #ddd;
}

.skill-box:hover>.skill-title:after,
.skill-box:hover>.skill-title:before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #2eb4a9;
  transition: .5s;
}

.skill-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #2eb4a9cc;
  transition: .5s;
}

.skill-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 60%;
  background-color: #2eb4a9;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.skill-img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 55px 0 0 55px;
}

.skill-title h3 {
  color: white;
  margin: 0.5rem;
}

.skill-icon {
  width: 50px;
}


@media only screen and (max-width: 1100px) {
  .icon-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:600px) {
  .icon-container {
    grid-template-columns: repeat(1, 1fr);
  }
}



#portfolio {
  padding-top: 100px;
  padding-bottom: 300px;
}

.portfolio-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
}

.portfolio-text {
  color: rgb(44, 44, 44);
  font-size: 18px;
  text-align: center;
}


.portfolio-text h1 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pdf {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
}

.pdf img {
  opacity: 90%;
  padding-top: 1em;
  transition: transform 0.4s;
}

.pdf img:hover {
  opacity: 1;
  transform: scale(1.3);
}

@media only screen and (max-width: 1300px) {
  .pdf {
    grid-template-columns: repeat(1, 1fr);
  }

  .pdf img {
    opacity: 90%;
    padding-top: 1em;
    transition: transform 0.4s;
  }

  .pdf img:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}


@media only screen and (max-width: 768px) {
  .portfolio-text {
    color: rgb(49, 49, 49);
    font-size: 16px;
  }
}














#contact {
  background-size: cover;
  padding-top: 120px;
  position: flex;

}

.contact-container {
  height: 80vh;
  margin-right: 6em;
  margin-left: 2.4em;
  align-items: center;
  position: relative;

}


.row h1 {
  font-weight: 600;
  color: rgb(15, 15, 15);
  text-align: center;
  font-size: 32px;
}

.row h4 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(22, 22, 22);
  line-height: 1.5;
  margin: 0 2em 0 2em;
}



input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
  margin-right: 0;
}

@media only screen and (max-width: 880px) {
  .styled-input {
    width: 100%;
  }

  .row h1 {
    font-size: 2em;
  }
}



.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: white;
  border-radius: 4px;
  cursor: none;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
  resize: none;
}

.input-container {
  width: 650px;
  max-width: 90%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: left;
  padding: 7px 30px;
  border-radius: 60px;
  border: none;
  background-color: #2eb4a9;
  color: white;
  font-size: 18px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: none;
}

.submit-btn:hover {
  transition-duration: 0.5s;
  background-color: #6ada99;
  color: white;
}

@media (max-width: 880px) {
  .submit-btn {
    width: 100%;
    float: left;
    text-align: center;
    margin-left: 1.5em;
  }
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}