@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/*#region html */

html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #467280;
  font-family: Quicksand;
  cursor: none;
  overflow: hidden;

}



.custom__cursor__inner {
  height: 12px;
  width: 12px;
  position: fixed;
  top: -10px;
  left: -10px;
  background-color: #df960e;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;

}


.custom__cursor__outer {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  border: 2px solid #000000d7;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  pointer-events: none;
  opacity: 0.9;
}


::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-track {
  background-color: rgb(43, 37, 37);
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient( 60deg, #f3b736, #e98930, rgb(161, 65, 9));
  border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 2px;
}

/*#endregion html */

/*#region navbar */

li {
  list-style: none;
  margin: none;
}

a {
  text-decoration: none;
  cursor: none;
}

.nav-section{
  position:absolute;
  float:right;
}


.hamburger {
  position:relative;
  padding: 1em;
  top: 30px;
  z-index: 500;
 
  float: right;
}

.bar {

  display: flex;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f3b736bb;
}

.hamburger:hover>.bar {
  background-color: rgb(0, 0, 0);
  opacity: 0.8
}

.nav-menu {


  margin: 0;
  padding: 0;

}
/* https://codepen.io/abdelrhmansaid/pen/OJRNOpQ */


.nav-item {
  margin: 0 2.5rem 0 2.5rem;
  padding: 18px;
}

.nav-item a {
  font-size: 18px;
}

.nav-link {
  font-size: 1rem;
  padding: 18px;
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: white;
  width: 10rem;
}

.nav-link:hover {
  background-color: #e98930;
  color: black;
}

.nav-logo {
  font-size: 2rem;
  color: #ffffff;
}



.home {
  z-index: 2;
  position:absolute;
top:40px;
left: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #e98930;
  font-size: 50px;
  cursor:none;

}


.fa:hover {
  cursor: none;
  color: rgb(0, 0, 0);
}



  .nav-menu {
    position: fixed;
    right: -100%;
    top: 30px;
    flex-direction: column;
    background-color: rgb(43, 37, 37);
    width: 50%;
    margin-right: 0em auto;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 2;
  }


  .nav-menu.active {
    right: 0;
    height: 50%;
  }


  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

/*#endregion navbar */


/*#region info */

.info {

  width: 100%;
  height: 100vh;
  position: flex;
  background-color: rgb(208, 224, 236);
  
}

.info-container {
  width: 60%;
  height: 100%;
  top: 40%;
  float:left;

}

.info-image-container{
width: 40%;
height: 100%;
float:left;
}

.info-image-container img{
  width: 100%;
  height: 100%;
  float:left;
  }



.info-text {
  width: 100%;
  left:0;
  
  top:30%;
  position: relative;

}

.info-text p{
  font-size: 50px;
padding-right: 20px;
  margin:0;
  padding-top:10px;
  padding-left: 45px;

}



.download-div{
  position:absolute;
  top: 90%;
}

.download {
  left: 45px;
  position: absolute;
  top: calc(50% - 30px);
  right: calc(50% - 115px);
  width: 230px;
  height: 60px;
  background: #457381;
  background-image: -webkit-linear-gradient(bottom, rgba(71, 36, 36, 0.075), rgba(255, 255, 255, .045));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .075), rgba(255, 255, 255, .045));
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .09), inset 0 1px 0 rgba(255, 255, 255, .04), 0 0 1px rgba(0, 0, 0, .3), 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 100px;
  color: rgba(253, 251, 251, 0.9);
  line-height: 60px;
  text-align: center;
  letter-spacing: 5px;
  overflow: hidden;
  transition: all .3s cubic-bezier(.67, .13, .1, .81), transform .15s cubic-bezier(.67, .13, .1, .81);
}

.download:hover {
  right: calc(50% - 200px);
  width: 400px;
}

.download:active {
  transform: translateY(3px);
}

.download:before,
.download:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all .3s cubic-bezier(.67, .13, .1, .81);
}

.download:before {
  content: 'DOWNLOAD';
  font-weight: 700;
}

.download:after {
  content: 'CLICK TO DOWNLOAD MY CV';
  top: -60px;
  opacity: 0;
  font-weight: 700;
}

.download:hover:after {
  top: 0px;
  opacity: 1;
}

.download:hover:before {
  top: 60px;
  opacity: 0;
}

/* icon: https://fortawesome.github.io/Font-Awesome/icons/ */
/* Animation: https://daneden.github.io/animate.css/ */




.animated.hinge {
  -webkit-animation-duration: 2s;
          animation-duration: 1s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}


.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
}

.arrow-1{
  width: 100px;
  height: 100px;
  background: #01c4ff;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  animation: 1.7s infinite ease-in-out zoomIn; 
}

.arrow-2{
  width: 60px;
  height: 60px;
  background: #45abca;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  display: table;
}


.arrow-2:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
}

.arrow-2 i.fa{
  font-size: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;

}

.arrow-container:hover .arrow-2 i.fa{
  animation: sdb05 1s infinite ease-in;
  
}
.arrow-container:hover .arrow-2{
  background: #060607;
}
.arrow-container:hover .arrow-1
{
  background:none;
}


@keyframes sdb05 {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform:  translateY(10px);
    opacity: 0;
  }

}



@media only screen and (max-width: 768px) {


  .info-container {
    width: 100%;

  }
  .info-text p{
    font-size: 30px;
    
  }
}


.info-container {
  width: 60%;
  height: 100%;
  top: 40%;
  float:left;

}

.info-image{
width: 40%;
height: 100%;
float:left;
}

.info-image img{
  width: 100%;
  height: 100%;
  float:left;
  }



.info-text {
  width: 100%;
  left:0;

  top:30%;
  position: relative;

}

.info-text p{
  font-size: 50px;

  margin:0;
  padding-top:10px;
  padding-left: 45px;

}


/*#endregion info */



/*#region newskills */

.newskills{
    
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

.newskills-container
{
  height: 100%;
  width: 100%;
  position: relative;
}

@keyframes sdb06 {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform:  translateY(-5px);
    opacity: 0;
  }

}

.arrow-up-container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: absolute;
    top: 27px;
    left: 0;
    right: 0;
  }

.iceberg-img-container{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
  
  .iceberg-img-container img{
    width: 50%;
}

/* https://codepen.io/dev_loop/pen/gOPPpeL */

.clickable-iceberg{
margin-top: 30px;
background-color: #dbdbdb00;
position:absolute;
height: 250px;
width: 170px;
border-radius: 50%;
}

.info-1{
  pointer-events: none;
  --size:20px;
  width: var(--size);
		height: var(--size);
		background: rgba(0, 255, 136, 0.75);
		border-radius: 2px;
		position: absolute;
		transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
		overflow: hidden;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02),
			0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03),
			0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05),
			0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065),
			0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095),
			0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16),
			0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02),
			0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03),
			0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
      top: 120px;
			right:165px;
}

.info-1-text{
  display: block;
  position: absolute;
  left: 10%;
  top: 5%;
  color: rgb(0, 0, 0);
  white-space: nowrap;
  z-index: 2;
  opacity: 0;
  transition: opacity 500ms ease, transform 250ms ease;
}




.icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  transition: opacity 250ms ease;
}



  .info-2{
    pointer-events: none;
    --size:20px;
    width: var(--size);
      height: var(--size);
      background: rgba(0, 255, 136, 0.75);
      border-radius: 2px;
      position: absolute;
      transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
      overflow: hidden;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.014), 0 6.7px 5.3px rgba(0, 0, 0, 0.02),
        0 12.5px 10px rgba(0, 0, 0, 0.025), 0 22.3px 17.9px rgba(0, 0, 0, 0.03),
        0 41.8px 33.4px rgba(0, 0, 0, 0.036), 0 100px 80px rgba(0, 0, 0, 0.05),
        0 0px 2.2px rgba(0, 0, 0, 0.045), 0 0px 5.3px rgba(0, 0, 0, 0.065),
        0 0px 10px rgba(0, 0, 0, 0.08), 0 0px 17.9px rgba(0, 0, 0, 0.095),
        0 0px 33.4px rgba(0, 0, 0, 0.115), 0 0px 80px rgba(0, 0, 0, 0.16),
        0 0.2px 2.2px rgba(0, 0, 0, 0.014), 0 0.6px 5.3px rgba(0, 0, 0, 0.02),
        0 1.1px 10px rgba(0, 0, 0, 0.025), 0 2px 17.9px rgba(0, 0, 0, 0.03),
        0 3.8px 33.4px rgba(0, 0, 0, 0.036), 0 9px 80px rgba(0, 0, 0, 0.05);
        bottom: 210px;
			right: 10px;
}

  


  .info-2-text{
    display: block;
    position: absolute;
    left: 10%;
    top: 5%;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    z-index: 2;
    opacity: 0;
    transition: opacity 250ms ease, transform 250ms ease;
}

.info-1-text h1{

  font-size: 1.1vw;
}
.info-1-text p{

  font-size: 0.9vw;
}
.info-2-text h1{
  font-size: 1.1vw;
}
.info-2-text p{

  font-size: 0.9vw;
}


.clickable-iceberg:hover .info-1{
  background-color: rgba(0, 255, 136, 0.171);
  --size: 30vh;
  right: 140%;

}

.clickable-iceberg:hover .info-1-text {
  transition-delay: 550ms;

  opacity: 1;
}

.clickable-iceberg:hover .info-1:after{
  opacity: 1;
}

.clickable-iceberg:hover .info-2{
  background-color: rgba(0, 255, 136, 0.171);
  --size: 30vh;
  right: -160%;
}

.clickable-iceberg:hover .info-2-text {
  
  transition-delay: 550ms;

  opacity: 1;
  
}
.clickable-iceberg:hover .info-2:after{

  opacity: 1;
}

.clickable-iceberg:hover .icon{
  opacity: 0;
  
}



/*#endregion newskills */



/*#region about */


#about {
  height: 100vh;
  position: flex;
  background-color: rgb(255, 255, 255);
}

.about-container {
  background: rgba(255, 164, 44, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
  position: flex;
}

.about-text {
  color: rgb(0, 0, 0);
  font-size: 17px;
  text-align: center;
}

.information-container {
  color: white;
}


.about-text h1 {
  margin-top: 2em;
  text-align: center;
  padding-bottom: 1em;
}


.information-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
}

.aboutme {
  background: #2a2b2a;
  width: 150px;
  height: 150px;
  margin: 10px;
  border-radius: 50em;
  margin: 0 auto;
}

.aboutme-text {
  text-align: center;
  font-size: 14px;
  padding-top: 0.4em;
}


@media only screen and (max-width: 1100px) {
  .information-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 6rem 1rem 6rem;
  }

  .information-box {
    padding: 1rem;
  }
}


@media only screen and (max-width: 600px) {
  .information-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-container {
  
    padding: 0em;
    width: 80%;

  }
}





/*#endregion about */



/*#region oldskills */



.skills-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
  
}

.header h1 {
  text-align: center;

  padding: 1rem;
  font-size: 35px;
  position: relative;
}


.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem ;
  font-size: 18px;
}

.skill-box {
  padding: 1rem;
  
}

.skill-box:hover>.skill-title:after,
.skill-box:hover>.skill-title:before {
  width: 35px;
}

.skill-box:hover .skill-img {
  transform: translateY(-10px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0px;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: rgb(233, 143, 8);
  transition: .5s;
}

.skill-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0px;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: rgb(233, 143, 8);
  transition: .5s;
}

.skill-img {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 60%;
  background-color: rgb(219, 164, 80);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.skill-img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  background: rgba(255, 255, 255, 0.432);
  border-radius: 55px 0 0 55px;
}

.skill-title h3 {
  color: rgb(0, 0, 0);
  margin: 0.5rem;
}

.skill-icon {
  width: 50px;
}


@media only screen and (max-width: 900px) {
  .icon-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .icon-container {
    grid-gap: .5rem;
    padding: .5rem ;
    font-size: 16px;
  }
}




/*#endregion oldskills */



/*#region portfolio */

.portfolio-container {
  background: rgba(0, 0, 0, 0);
  padding: 3em;
  width: 60%;
  margin: 0 auto 5em auto;
}

.portfolio-text {
  color: rgb(44, 44, 44);
  font-size: 18px;
  text-align: center;
}


.portfolio-text h1 {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.pdf {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 10px;
}

.pdf img {
  opacity: 90%;
  padding-top: 1em;
  transition: transform 0.4s;
  image-rendering: -webkit-optimize-contrast;
  height: 300px;
}

.pdf img:hover {
  opacity: 1;
  transform: scale(1.15);
}

@media only screen and (max-width: 1300px) {
  .pdf {
    grid-template-columns: repeat(2, 2fr);
  }

  .pdf img:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}


@media only screen and (max-width: 768px) {
  .portfolio-text {
    color: rgb(49, 49, 49);
    font-size: 16px;
  }
  .pdf img {
    height: 200px;
    opacity: 1;
  }
  .portfolio-container {
    padding: 0em;
    width: 80%;
  }
}







/*#endregion portfolio */



/*#region contact */

#contact {
  background-size: cover;
  padding-top: 120px;
  position: flex;
  padding-bottom: 100px;

}

.contact-container {
  height: 65vh;
  margin-right: 6em;
  margin-left: 2.4em;
  align-items: center;
  position: relative;
  
}


.row h1 {
  font-weight: 600;
  color: rgb(15, 15, 15);
  text-align: center;
  font-size: 32px;
}

.row h4 {
  font-weight: 400;
  font-size: 20px;
  color: rgb(22, 22, 22);
  line-height: 1.5;
  margin: 0 2em 0 2em;
}



input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
  font-size: 0.75em;
  color: #999;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 1rem 0;
  position: relative;
  border-radius: 4px;
  margin-right: 0;
}

@media only screen and (max-width: 880px) {
  .styled-input {
    width: 100%;
  }

  .row h1 {
    font-size: 2em;
  }
}



.styled-input label {
  color: #999;
  padding: 1.3rem 30px 1rem 30px;
  position: absolute;
  top: 10px;
  left: 0;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

input,
textarea {
  padding: 30px;
  border: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #2d2d2d;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  cursor: none;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus~span,
textarea:focus~span {
  width: 100%;
  -webkit-transition: all 0.075s ease;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 15em;
  resize: none;
}

.input-container {
  width: 650px;
  max-width: 90%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  float: left;
  padding: 7px 30px;
  border-radius: 60px;
  border: none;
  background-color: rgb(233, 143, 8);
  color: white;
  font-size: 18px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
    0 2px 10px 0 rgba(0, 0, 0, 0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: none;
}

.submit-btn:hover {
  transition-duration: 0.5s;
  background-color: rgb(255, 239, 95);
  color: rgb(0, 0, 0);
}

@media (max-width: 880px) {
  .submit-btn {
    width: 100%;
    float: left;
    text-align: center;
    margin-left: 1.5em;
    margin-bottom: 5em;
  }
}

.styled-input input[type=checkbox]+label {
  color: rgb(255, 255, 255);

}

.styled-input input[type=checkbox]:checked+label {
  color: rgb(255, 255, 255);

}




/*#endregion contact */



/*#region wrapper */


.content{
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title{
  font-size: 40px;
  font-weight: 700;
}

.menu-wrapper{
  
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  clip-path: circle(0px at calc(65px) 60px);
  transition: all 0.5s ease-in-out;
}

#active:checked ~ .menu-wrapper{
  clip-path: circle(75%);
  
}




@keyframes changesize {
  to {
    transform: scaleX(1.3) scaleY(1.3);
  }
}

.wrapper-btn{
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 40px;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50%;
  cursor:none;
  background: #202020;
  animation: 0.8s infinite alternate ease-in-out changesize; 

}

.wrapper-btn:hover{
background-color: rgba(78, 78, 78, 0.884);
}


.wrapper-btn i{
  color:#ffffff;
  font-size: 25px;
  position: absolute; 
  top:15px;
  right:18px;
  
}




#active:checked ~ .wrapper-btn{
  color:white;
  background-color:#202020;
  animation-play-state: paused;

}


#active:checked ~ .wrapper-btn:hover{
  color: rgb(255, 255, 255);
  background-color:rgba(78, 78, 78, 0.884);
  animation: 0.8s infinite alternate ease-in-out changesize;
}


#active:checked ~ .wrapper-btn i:before{
  content: "\F27D";
  
}


input[type="checkbox"]{
  display: none;
  color:white;
} 

.content h1{
  margin:0;
}


/*#endregion wrapper */
